* {
      font-family: 'Orbitron', sans-serif;
}

.header {
      height: 100vh;
      min-height: 500px;
      background: linear-gradient(black, transparent, black), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAACVJREFUGFdjZMADGEmR/M/AwADXgKwTJAEDYHF0Y3HqxLAer4MAM/IDCAgv2zwAAAAASUVORK5CYII'), url('../media/cupola-ISS.png');
      background-size: 100%, 5px 5px, 100%;
      background-position: center;
      background-repeat: no-repeat, repeat, no-repeat;
}

body {
      background-color: #000; /* 60 % */
}

:root {
      --main-color: #1364ac; /* 30 % */
      --accent-color: #f7df09; /* 10 % */
}

.text-main {
      color: var(--main-color);
}

.text-accent {
      color: var(--accent-color);
}

.bg-main {
      background-color: var(--main-color);
}

.bg-accent {
      background-color: var(--accent-color) ;
}

.space {
      height: 100vh;
      min-height: 500px;
      background: linear-gradient(black 5%, transparent, black 95%), url('../media/space.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.btn-accent {
      background: 
      linear-gradient(to right, var(--accent-color) 2px, transparent 2px) 0 0,
      linear-gradient(to right, var(--accent-color) 2px, transparent 2px) 0 100%,
      linear-gradient(to left, var(--accent-color) 2px, transparent 2px) 100% 0,
      linear-gradient(to left, var(--accent-color) 2px, transparent 2px) 100% 100%,
      linear-gradient(to bottom, var(--accent-color) 2px, transparent 2px) 0 0,
      linear-gradient(to bottom, var(--accent-color) 2px, transparent 2px) 100% 0,
      linear-gradient(to top, var(--accent-color) 2px, transparent 2px) 0 100%,
      linear-gradient(to top, var(--accent-color) 2px, transparent 2px) 100% 100%;

      background-repeat: no-repeat;
      background-size: 10px 10px;
      transition: 0.4s;
}

.btn-accent:hover {
      letter-spacing: 4px;
}

.card-space {
      flex-shrink: 0;
      height: 320px;
      width: 280px;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.bg-slide {
      background-size: cover;
      background-position: center;
      border-bottom: 4px solid var(--accent-color);
      position: relative;
}

.bg-slide-1 {
      background: url('../media/planet.jpg');
      background-size: cover;

}

.bg-slide-2 {
      background: url('../media/planet1.jpg');
}

.bg-slide-3 {
      background: url('../media/station.jpg');
      background-size: cover;
}

.bg-slide-4 {
      background: url('../media/space1.jpg');
      background-size: cover;
      
}

.bg-slide-5 {
      background: url('../media/stazione.jpg');
      background-size: cover;
}

.bg-slide::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0px;
      top: -100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: 0.7s;
}

.bg-slide:hover::after {
      top: 0%;
}

.card-inner {
      position: absolute;
      bottom: -1px;
      left: -25px;
      transition: 1s;
      opacity: 0;
      z-index: 20;
      color: white;
      width: 100%;
}

.bg-slide:hover .card-inner{
      bottom: 10px;
      opacity: 1;
}

.wrapperMenu {
      position: fixed;
      top: 40px;
      right: 40px;
      height: 40px;
      width: 40px;
      z-index: 9999;
      cursor: pointer;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
}

.leftSide {
      position: fixed;
      top: 0px;
      left: -100%;
      width: 100%;
      height: 100vh;
      z-index: 9998;
      background-color: rgba(255, 255, 255, 0.2);
      transition: 1s;
}

.active {
      left: 0%;
}